NEXT_PUBLIC_DASHBOARD_URL=http://127.0.0.1:3000
NEXT_PUBLIC_CLASSIFIER_URL=http://127.0.0.1:8000

POLAR_CLIENT_ID=
POLAR_CLIENT_SECRET=
POLAR_REDIRECT_URI=http://127.0.0.1:3000/api/polar/callback

ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=pjcYQlDFKMbcOUp6F5GD
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
